@import "../internal/common";
@import "../config";
/*----------------------------------------------------------------------------*/


@mixin PasswordRetrievalView {
	
	$password-retrieval-width: 500px;
	
	/* Password retrieval Form */
	.PasswordRetrievalView-component {
		
		/* Size */
		width: $password-retrieval-width !important;
		padding: 5px 30px 30px 30px;
		
		/* Icon */
		.v-horizontallayout {
			height: 70px;
		}
		
		/* Icon */
		.v-horizontallayout .v-icon {
			display: block;
			font-size: 5.3em;
			line-height: 1em;
			padding: 0;
			margin: 0;
			margin-right: 20px;
		}
		.v-horizontallayout * {
			width: auto !important;
		}
		.v-horizontallayout .v-label {
			margin-top: 3px;
			width: 80% !important;
		}
		
		/* Button and fields */
		.v-textfield, .v-button { font-size: 1.2em; }
		
		/* Icons */
		.v-icon { color: $robotwitter-sub-color; }
		
		/* Error message */
		.PasswordRetrieval-error-message {
			color: $v-error-indicator-color;
			font-weight: bold;
			font-size: 0.85em;
		}
		
		/* Focused field with error shadow colour fix */
		.v-textfield-error.v-textfield:focus {
			@include box-shadow(0 0 0 2px rgba($v-error-indicator-color, 0.25));
		}
		
	}
}
