@import "../../common";
@import "../../../config";
/*----------------------------------------------------------------------------*/

@mixin AutomateView { .AutomateView {
	
	$width: 500px;
	
	padding: 10px;
	
	/* Header */
	.AutomateView-header
	{
		font-size: 3.3em; padding-left: 15px; line-height: 1em;
	}
	
	/* Description */
	.AutomateView-desc
	{
		text-align: center;
		font-size: 1.5em; line-height: 2em;
	}
	
	/* Tweets */
	.AutomateView-tweets
	{
		width: $width !important;
		
		margin-bottom: 30px;
	
		/* Single tweet */
		.AutomateView-tweet
		{
			position: relative;
			
			/* Buttons */
			.AutomateView-buttons
			{
				position: absolute;
				top: 0;
				right: 0;
				opacity: 0;
				
				@include robotwitter-transition(opacity 0.8s ease);
			}
				
			/* Hover */
			&:hover .AutomateView-buttons
			{
				opacity: 1;
			}
		}
	}
	
	/* Center the tweets */
	.v-slot-AutomateView-tweets { text-align: center; }
	
	
	/* Mobile-device fixes */
	&.AutomateView-mobile
	{
		padding: 0;
	
		.AutomateView-header
		{
			text-align: center;
			font-size: 2em;
			font-size: 8.5vw;
			padding: 0;
			padding-top: 10px;
			padding-top: 2.7vw;
			margin-bottom: 15px;
			margin-bottom: 4vw;		
		}
	
		.AutomateView-desc
		{
			text-align: center;
			font-size: 1.5em;
			font-size: 6.3vw;
			padding: 0;
			margin-bottom: 16px;
			margin-bottom: 5vw;	
			line-height: 1em;
		}
		
		.AutomateView-tweets
		{
			width: 100% !important;
			
			.AutomateView-tweet
			{
				.TweetPreview-tweet
				{
					border-left: none;
					border-right: none;
					padding: 15px;
					padding: 4vw;
					
					.TweetPreview-text
					{
						font-size: 8vw;
						width: 92vw !important;
						line-height: 1.3em;
					}
				}
				
				.AutomateView-buttons
				{
					width: initial !important;
					
					.AutomateView-respond,
					.AutomateView-delete
					{
						width: 100%;
					}
				}
			}
		}
	}

} }

