@import "../../common";
@import "../../../config";
/*----------------------------------------------------------------------------*/

@mixin AutomateView { .AutomateView {
	
	$width: 500px;
	
	padding: 10px;
	
	/* Header */
	.AutomateView-header
	{
		font-size: 3.3em; padding-left: 15px; line-height: 1em;
	}
	
	/* Description */
	.AutomateView-desc
	{
		text-align: center;
		font-size: 1.5em; line-height: 2em;
	}
	
	/* Tweets */
	.AutomateView-tweets
	{
		width: $width !important;
		
		margin-bottom: 30px;
	
		/* Single tweet */
		.AutomateView-tweet
		{
			position: relative;
			
			/* Buttons */
			.AutomateView-buttons
			{
				position: absolute;
				top: 0;
				right: 0;
				opacity: 0;
				
				@include robotwitter-transition(opacity 0.8s ease);
			}
				
			/* Hover */
			&:hover .AutomateView-buttons
			{
				opacity: 1;
			}
		}
	}
	
	/* Center the tweets */
	.v-slot-AutomateView-tweets { text-align: center; }

} }

