@import "../../common";
@import "../../../config";
/*----------------------------------------------------------------------------*/

@mixin TweetComposer { .TweetComposer {

	$left-width: 500px;
	$right-width: 500px;

	/* Left side */
	.TweetComposer-left
	{
		position: relative;
		width: $left-width !important;
		
		/* Fix tweet input text area and toolbar width issue */
		.v-slot-TweetComposer-input-textarea > div,
		.TweetComposer-input-textarea,
		.TweetComposer-toolbar-and-button
		{
			width: 100%;
			.v-slot-TweetComposer-tweet-button { float: right; }
		}
		
		/* Characters count */
		.TweetComposer-characters
		{
			position: absolute;
			top: 0;
			right: 0;
			.count { font-weight: bold; }
			
			/* When character count is overflow */
			&.TweetComposer-characters-overflown
			{
				.count { color: $v-error-indicator-color; }
			}
		}
	
		/* Error message */
		.TweetComposer-error
		{
			color: $v-error-indicator-color;
			font-weight: bold;
			font-size: 0.85em;
		}
	
		/* Fix textarea focus glow effect colour on textareas with errors. */
		.v-textarea-error.v-textarea
		{
			@include robotwitter-box-shadow(0 0 0 2px rgba($v-error-indicator-color, 0.25));
		}
		
		/* Toolbar */
		.TweetComposer-toolbar
		{
			line-height: 1em;
		}
		
		/* Tweet button */
		.TweetComposer-tweet-button
		{
			background: $robotwitter-main-color;
			border-color: rgba(black, 0.1);
			
			
			@include robotwitter-transition(background 0.3s ease);
			&:hover {
				background: hsl(hue($robotwitter-main-color),
								saturation($robotwitter-main-color),
								45%);
			}
		}
	}
	
	/* Right side */
	.TweetComposer-right
	{
		width: $right-width !important;
	}
	
} }

