/* Based on Vaadin's valo theme. Below are settings overriding its defaults. */
/*----------------------------------------------------------------------------*/
@import "config";


/* Base colours */
@if $robotwitter-style == light {
	$v-app-background-color: hsl(hue($robotwitter-main-color), 0%, 98%);
} @else if $robotwitter-style == dark {
	$v-app-background-color: hsl(hue($robotwitter-main-color), 0%, 12%);
}


/* Sizing and spacing */
$v-font-size: $robotwitter-font-size;


/* Component Features */
$v-border-radius: 0;
$v-gradient: 0%;


/* Miscellaneous */
$v-app-loading-text: "Robotwitter is loading...";

/* Fix valo's button link (show underline only while hovering) */
.v-button-link
{
	text-decoration: none !important;
	&:hover { text-decoration: underline !important; }
}


/*----------------------------------------------------------------------------*/
@import "../valo/valo";
/*----------------------------------------------------------------------------*/

@import "internal/util";
@import "internal/menu";
@import "internal/RobotwitterUI";
@import "internal/view/login";
@import "internal/view/registration";
@import "internal/view/connect_twitter";
@import "internal/view/analysis";

/*----------------------------------------------------------------------------*/


@mixin robotwitter
{
	@include valo;
	
	@include robotwitter-util;
	@include robotwitter-menu;
	@include RobotwitterUI;
	
	/* Views */
	@include robotwitter-view-login;
	@include robotwitter-view-registration;
	@include robotwitter-view-connect_twitter;
	@include robotwitter-view-analysis;
}
