@import "../common";
@import "../../config";
/*----------------------------------------------------------------------------*/


@mixin LoginView { .LoginView {
	
	$login-width: 360px;
	
	/** Fix the clipping of the shadow of the form's div. */
	overflow: visible;
	
	/* Wrapper */
	.LoginView-wrapper
	{
		/* Centre horizontally */
		display: block;
		margin: auto;
		text-align: center;
		
		/* Size */
		width: $login-width !important;
		margin-top: $login-width / 15;		
	}
	
	/* Robotwitter's logo */
	.LoginView-title::before
	{
		content: "";
		display: inline-block;
		margin-bottom: 25px;
		@include robotwitter-logo($login-width);
	}
	
	/* Title */
	.LoginView-title
	{
		display: inline-block;
		font-size: $login-width / 248px * 1em;
		font-weight: 500;
	}
	
	/* Login Content */
	.LoginView-box
	{
		display: inline-block;
		
		/* Size */
		width: $login-width !important;
		padding: $login-width / 12;
		
		/* Colour */
		background-color: $robotwitter-neutral-color;
		
		/* Features */
		@include robotwitter-border-radius(4px);
		@include robotwitter-box-shadow(0px 3px 0 rgba(0, 0, 0, 0.2));
		
		/* Button and fields */
		.v-textfield, .AbstractFormComponent-submit { font-size: 1.2em; }
		
		/* "Stay signed in" checkbox and "Forgot password?" link */
		.v-checkbox, .v-button-link
		{
			font-weight: bold;
			font-size: round($robotwitter-font-size * 0.85) !important;
			height: round($robotwitter-font-size * 0.85) !important;
		}
	
		/* Icons */
		.v-icon { color: $robotwitter-sub-color; }		
	}
	
	/* Registration component */
	.LoginView-register
	{	
		font-size: 1.2em;
		font-weight: 500;
		
		/* Fix spacing. */
		.v-spacing { width: 6px; }
	}

} }
