@import "../common";
@import "../../config";
/*----------------------------------------------------------------------------*/


@mixin LoginView {
	
	$login-width: 360px;
	
	.v-verticallayout {
		overflow: visible;
	}
	
	/* Logo */
	.LoginView-ui::before {
		content: "";
		
		/* Centre horizontally */
		display: block;
		margin: auto;
		
		/* Size */
		margin-top: 40px;
		margin-bottom: 20px;
		
		@include robotwitter-logo($login-width);
	}
	
	/* ui */
	.LoginView-ui {
		overflow: visible;
	}
	
	/* Title */
	.LoginView-title {
		
		/* Centre horizontally */
		display: block;
		margin: auto;
		text-align: center;
		
		/* Size */
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: 1.5em;
		
		.v-label {
			display: inline;
		}
	}
	
	/* Login Form */
	.LoginView-component {
	
		/* Centre horizontally */
		display: block;
		margin: auto;
		
		/* Size */
		width: $login-width !important;
		padding: 30px;
		
		/* Colour */
		background-color: $robotwitter-neutral-color;
		
		/* Features */
		@include robotwitter-border-radius(4px);
		@include robotwitter-box-shadow(0px 3px 0 rgba(0, 0, 0, 0.2));
		
		/* Button and fields */
		.v-textfield, .v-button { font-size: 1.2em; }
		
		/* Icons */
		.v-icon { color: $robotwitter-sub-color; }
		
		/* "Stay signed in" checkbox and "Forgot password?" link */
		.v-checkbox, .v-button-link {
			font-weight: bold;
			font-size: round($robotwitter-font-size * 0.85);
			height: round($robotwitter-font-size);
		}
		
		/* Fix "Forgot password?" link's paddings. */
		.v-button-link { padding: 0; }
		
	}
}
