@import "../../config";
/*----------------------------------------------------------------------------*/


@mixin PasswordRetrievalWindow { .PasswordRetrievalWindow {
	
	$password-retrieval-width: 500px;
	
	/* Password retrieval form */
	.PasswordRetrievalWindow-form {
		
		/* Icon */
		.v-horizontallayout {
			height: 70px;
		}
		
		/* Icon */
		.v-horizontallayout .v-icon {
			display: block;
			font-size: 5.3em;
			line-height: 1em;
			padding: 0;
			margin: 0;
			margin-right: 20px;
		}
		.v-horizontallayout * {
			width: auto !important;
		}
		.v-horizontallayout .v-label {
			margin-top: 3px;
			width: 80% !important;
		}
		
		/* Button and fields */
		.v-textfield, .v-button { font-size: 1.2em; }
		
		/* Icons */
		.v-icon { color: $robotwitter-sub-color; }
		
	}
} }
