@import "../../common";
@import "../../../config";
/*----------------------------------------------------------------------------*/

/* Size */
$LoginView-max-width: 390px;

@mixin LoginView { .LoginView {
	
	/** Fix the clipping of the shadow of the form's div. */
	overflow: visible;
	
	/* Wrapper */
	.LoginView-wrapper
	{
		/* Pad */
		padding: 0 15px;
	
		/* Centre horizontally */
		display: block;
		margin: auto;
		text-align: center;
		
		/* Size */
		max-width: $LoginView-max-width !important;
		width: 100%;
		margin-top: $LoginView-max-width / 15;
		margin-top: 1vw;
	}
	
	/* Robotwitter's logo */
	.LoginView-title::before
	{
		content: "";
		display: inline-block;
		margin-bottom: 25px;
		margin-bottom: 1vw;
		@include robotwitter-logo($LoginView-max-width);
	}
	
	/* Title */
	.LoginView-title
	{
		display: inline;
		font-size: $LoginView-max-width / 267px * 1em;
		font-weight: 500;
	}
	
	/* Login Content */
	.LoginView-box
	{
		display: inline-block;
		
		/* Size */
		max-width: $LoginView-max-width !important;
		width: 100%;
		padding: $LoginView-max-width / 12;
		
		/* Colour */
		background-color: $robotwitter-neutral-color;
		
		/* Features */
		@include robotwitter-border-radius(4px);
		@include robotwitter-box-shadow(0px 3px 0 rgba(0, 0, 0, 0.2));
		
		/* Button and fields */
		.v-textfield, .AbstractFormComponent-submit { font-size: 1.2em; }
		
		/* "Stay signed in" checkbox and "Forgot password?" link */
		.v-checkbox, .v-button-link
		{
			font-weight: bold;
			font-size: round($robotwitter-font-size * 0.85) !important;
			height: round($robotwitter-font-size * 0.85) !important;
		}
	
		/* Icons */
		.v-icon { color: $robotwitter-sub-color; }		
	}
	
	/* Registration component */
	.LoginView-register
	{	
		font-size: 1.2em;
		font-weight: 500;
		
		/* Fix spacing. */
		.v-spacing { width: 6px; }
		
		/* Fix bottom small overflow clipping */
		margin-bottom: 10px;
	}
	
	/* Animate login view to fade in */
	position: relative;
	@include robotwitter-animation(LoginView-show-animation 2s ease);
	@include robotwitter-animation-fill-mode(both);

} }
	

/* robotwitter-animation robotwitter-keyframes */
@include robotwitter-keyframes(LoginView-show-animation) {
	from { opacity: 0; }
	to	 { opacity: 1; }
}

