@import "../common";
@import "../../config";
/*----------------------------------------------------------------------------*/

/* Size */
$MainMenu-height: 50px;

/* Push down content. Used because the menu is fixed. */
.v-slot-MainMenu { height: $MainMenu-height; }

/** Represents the main menu of the application. */
@mixin MainMenu { .MainMenu {
	
	/* Colour */
	background-color: $robotwitter-2nd-neutral-color;
	
	/* ------------------------------ */
	
	/* Set properties */
	height: $MainMenu-height;
	
	/* Features */
	@include robotwitter-box-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
	
	/* Fix position */
	position: fixed;
	z-index: 1;
	
	/* Animate menu to slide in from above */
	@include robotwitter-animation(MainMenu-show-animation 1s ease);
	@include robotwitter-animation-fill-mode(both);
	
	
	/* Navigation Links */
	.MainMenu-links
	{	
		padding: 0;
		height: $MainMenu-height;
		
		/* Menu item */
		.v-menubar-menuitem
		{
			margin: 0;
		
			/* Home button */
			&:first-child
			{
				.v-menubar-menuitem-caption
				{
					/* Hide text */
					color: rgba(0,0,0,0);
					
					/* Show logo */
					$size_ratio: 0.5;
					display: inline-block;
					margin-top: $MainMenu-height * (1 - $size_ratio) / 2;
					@include robotwitter-icon($MainMenu-height * $size_ratio);
				}
				
				/* Change hover colour */
				&.v-menubar-menuitem-selected
				{
					color: rgba(0,0,0,0); /* Hide text */
					background: rgba($robotwitter-neutral-color, 0.15);
				}
			}
			
			line-height: $MainMenu-height;
			
			/* Size */
			font-size: 1.2em;
			padding: 0 $MainMenu-height / 2.5;
		
			/* Colour */
			color: $robotwitter-neutral-color;
			
			/* Features */
			@include robotwitter-border-radius(0);
			
			/* Icon */
			.v-icon { margin-right: 8px; }
				
			/* Change hover text colour */
			@include robotwitter-transition(none);
			&.v-menubar-menuitem-selected
			{
				color: white;
			}
		}
	}
	
	
	/* Active menu item */
	.v-menubar-menuitem-MainMenu-active-link
	{
		color: $robotwitter-sub-color !important;
				
		/* Disable hover */
		&.v-menubar-menuitem-selected, &:hover
		{ background: none; cursor: default; }
	}
	
		
	/* Remove text from menu items in mobile browsers */
	.MainMenu-links-mobile .v-menubar-menuitem
	{		
		width: $MainMenu-height;
		width: 16.6vw;
		overflow: hidden;
		padding: 0;
		
		.v-menubar-menuitem-caption .v-icon { margin: 0; }
	}
	
	
	/* Black background for active links in mobile browsers */
	.MainMenu-links-mobile .v-menubar-menuitem-MainMenu-active-link
	{ background-color: black; }
	
	
	/* User account information */
	.MainMenu-account {	 height: $MainMenu-height; }
	
} }
	

/* robotwitter-animation robotwitter-keyframes */
@include robotwitter-keyframes(MainMenu-show-animation) {
	from { top: -1.5 * $MainMenu-height; }
	to	 { top: 0; }
}
