@import "../common";
@import "../../config";
/*----------------------------------------------------------------------------*/

/** Represents the main menu of the application. */
@mixin TwitterCard($height) { .TwitterCard {

	height: $height;
	$size_ratio: 0.7;
	
	/* Twitter name and screenname */
	.TwitterCard-names
	{
		margin-top: $height * (1 - $size_ratio) / 2;
		height: $size_ratio * 100%;
		float: left;
		text-align: right;
		margin-right: $size_ratio * $height / 2.333;
		font-size: $size_ratio * $height / 35px * 1em;
		
		/* Name and screenname */
		.TwitterCard-name, .TwitterCard-screename
		{
			height: $size_ratio * $height / 2;
			line-height: $size_ratio * $height / 2;
		}
		
		/* Twitter name */
		.TwitterCard-name
		{
			font-weight: 500;
			color: $robotwitter-main-color;
			
			/* Small fix */
			position: relative;
			top: 1px;
		}
		
		/* Twitter screenname */
		.TwitterCard-screenname
		{
			color: rgba($robotwitter-2nd-neutral-color, 0.7);
			
			/* Small fix */
			position: relative;
			top: -2px;
		}
	}
	
	/* Twitter profile image wrapper */
	.TwitterCard-image-wrapper
	{
		position: relative;
		top: $height * (1 - $size_ratio) / 2;
		width: $size_ratio * $height;
		height: $size_ratio * $height;
		overflow: hidden;
			
		/* features */
		@include robotwitter-border-radius($height); /* Circle */
			
		/* Twitter profile image */
		.TwitterCard-image
		{
			width: 100%;
		}
	}
	
} }
