@import "../../common";
@import "../../../config";
/*----------------------------------------------------------------------------*/

/* Size */
$RegistrationView-width: 360px;	/* Defined outside mixin for use in robotwitter-keyframes */

@mixin RegistrationView { .RegistrationView {
	
	/** Fix the clipping of the shadow of the form's div. */
	overflow: visible;
	
	/* Wrapper */
	.RegistrationView-wrapper
	{
		/* Centre horizontally */
		display: block;
		margin: auto;
		text-align: center;
		
		/* Size */
		margin-top: $RegistrationView-width / 15;
	}
	
	/* Title */
	.RegistrationView-title
	{
		display: inline;
		font-size: $RegistrationView-width / 248px * 2em;
		font-weight: 500;
	}
	
	/* Registration Content */
	.RegistrationView-box
	{
		display: inline-block;
		
		/* Size */
		width: $RegistrationView-width !important;
		padding: $RegistrationView-width / 12;
		padding-top: $RegistrationView-width / 12 * (2 / 3);
		
		/* Colour */
		background-color: $robotwitter-neutral-color;
		
		/* Features */
		@include robotwitter-border-radius(4px);
		@include robotwitter-box-shadow(0px 3px 0 rgba(0, 0, 0, 0.2));
		
		/* Button and fields */
		.v-textfield, .AbstractFormComponent-submit { font-size: 1.2em; }
	
		/* Icons */
		.v-icon { color: $robotwitter-sub-color; }		
	}
	
	/* Login component */
	.RegistrationView-login
	{	
		font-size: 1.2em;
		font-weight: 500;
		
		/* Fix spacing. */
		.v-spacing { width: 6px; }
		
		/* Fix bottom small overflow clipping */
		margin-bottom: 10px;
	}
	
	/* Animate registration view to fade in */
	position: relative;
	@include robotwitter-animation(RegistrationView-show-animation 2s ease);
	@include robotwitter-animation-fill-mode(both);

} }
	

/* robotwitter-animation robotwitter-keyframes */
@include robotwitter-keyframes(RegistrationView-show-animation) {
	from { opacity: 0; }
	to	 { opacity: 1; }
}

