@import "../../config";
/*----------------------------------------------------------------------------*/


@mixin WindowWithDescription { .WindowWithDescription {
	
	$window-max-width: 500px;
	$icon-size: 70px;
	$padding: 20px;
	
	margin: 10px;
	
	/* Wrapper */
	.WindowWithDescription-wrapper {
		width: $window-max-width !important;
		width: 100% !important;
		padding: 0 $padding $padding $padding;
	}
	
	
	/* Icon and description wrapper */
	.WindowWithDescription-icon-desc-wrapper {
		margin: $padding / 3 0 $padding / 2 0;
	}
	
	
	/* Description */
	.WindowWithDescription-description {
		white-space: normal;
		text-align: justify;
		max-width: $window-max-width - 3 * $padding - $icon-size;
		width: 50vw;
		margin-top: 7px;
	}
	
	
	/* Icon */
	.WindowWithDescription-icon {
		width: $icon-size + $padding;
		height: $icon-size;
		font-size: $icon-size;
		line-height: $icon-size;
		padding-right: $padding;
		color: $robotwitter-sub-color;
		text-align: center;
	}
	
} }
