@import "../../common";
@import "../../../config";
/*----------------------------------------------------------------------------*/

@mixin AnalysisView { .AnalysisView {

	padding: 10px;
	
	/* Header */
	.AnalysisView-header
	{
		font-size: 3.3em; padding-left: 15px; line-height: 1em;
	}
	
	
	/* Tabs */
	.AnalysisView-tabs
	{
		background: white;
		border: 1px solid rgba(black, 0.2);
		@include robotwitter-border-radius(5px);
		@include robotwitter-box-shadow(0 0 5px 0 rgba(black, 0.05));
		
		margin-bottom: 30px;
	}
	
	/* Center tabs */
	.v-slot-AnalysisView-tabs { text-align: center; }

} }

