@import "../../common";
@import "../../../config";
/*----------------------------------------------------------------------------*/

@mixin AnalysisView { .AnalysisView {

	position: absolute;
	
	padding: 10px;
	
	/* Header */
	.AnalysisView-header
	{
		font-size: 3.3em; padding-left: 15px; line-height: 1em;
	}

} }

