@import "../../common";
@import "../../../config";
/*----------------------------------------------------------------------------*/

@mixin FollowersAmountOverview { .FollowersAmountOverview {

	$height: 150px;
	$padding: 35px;
	
	height: $height + $padding;
	padding-bottom: $padding;
	
	text-align: center;
	
	/* Center twitter account's picture */
	.v-slot-FollowersAmountOverview-picture { text-align: center; }
	
	/* Twitter account's picture */
	.FollowersAmountOverview-picture
	{
		width: $height;
		height: $height;
		
		/* features */
		@include robotwitter-border-radius($height); /* Circle */
	}
	
	/* Twitter account's name and screenname */
	.FollowersAmountOverview-name-and-screenname
	{
		text-align: right;
	
		/* Twitter account's name */
		.FollowersAmountOverview-name { font-size: 2em; }
		
		/* Twitter account's screenname */
		.FollowersAmountOverview-screenname
		{
			font-size: 1.5em;
			line-height: 1em;
			padding-right: 15px;
		}
	}
	
	
	/* Stats component */	
	.FollowersAmountOverview-stats
	{
		position: relative;
		left: -10px;
		
		padding-top: 12px;
		
		/* A followers amount component. */
		.v-slot-FollowersAmountOverview-amount-component
		{	
			position: relative;
			
			margin-bottom: 30px;
		
			/* Captions and numbers */
			.v-captiontext, .v-label { font-weight: bold; }
			
			/* Numbers */
			.v-label
			{
				position: absolute;
				top: -26px;
				left: 20px;
				
				font-size: 1.5em;
			}
		
			/* The gained number. */
			.FollowersAmountOverview-gained { color: #50B317; }
			
			/* The lost number. */
			.FollowersAmountOverview-lost { color: rgb(229, 18, 18); }
		}
		
		/* Push gained (middle-number) around circle picture */
		.v-slot-FollowersAmountOverview-gained { margin-left: 20px; }
	}
	
	
	/* Mobile-device fixes */
	&.FollowersAmountOverview-mobile
	{
		height: inherit;
		
		.FollowersAmountOverview-picture
		{
			width: $height;
			height: $height;
			width: 50vw;
			height: 50vw;
			@include robotwitter-border-radius($height);
			@include robotwitter-border-radius(50vw);
		}
		
		.FollowersAmountOverview-name-and-screenname
		{
			text-align: center;
			font-size: 1.8em;
			font-size: 8vw;
			.FollowersAmountOverview-name { font-size: 1em; }
			.FollowersAmountOverview-screenname
			{
				font-size: 1em;
				text-align: center;
				padding: 0;
			}
		}
		
		.FollowersAmountOverview-stats
		{
			left: 0;
			padding: 0;
			text-align: center;
			font-size: 1.3em;
			font-size: 6vw;
			
			.v-caption-FollowersAmountOverview-amount-component
			{
				display: inline-block;
				padding-right: 5px;
				padding-right: 2vw;
				font-size: 1em;
			}
			
			.v-slot-FollowersAmountOverview-amount-component { margin: 0; }
			
			.FollowersAmountOverview-amount-component
			{
				position: relative;
				top: 0;
				left: 0;
				font-size: 1em;
				padding-right: 5px;
				padding-right: 2vw;
			}
		}
	}
	
	
} }

