@import "../../common";
@import "../../../config";
/*----------------------------------------------------------------------------*/

@mixin FollowersAmountOverview { .FollowersAmountOverview {

	$height: 200px;
	height: $height;
	
	text-align: center;
	
	/* Twitter's account picture */
	.FollowersAmountOverview-picture
	{
		width: $height;
		height: $height;
	}
	
	/* A followers amount component. */
	.v-slot-FollowersAmountOverview-amount-component
	{		
		/* The gained number. */
		.FollowersAmountOverview-gained { color: #50B317; }
		
		/* The lost number. */
		.FollowersAmountOverview-lost { color: rgb(229, 18, 18); }
	}

} }

